
#blue {
  background-color: rgba(217, 237, 247, 0.64);
}

#green {
  background-color: rgba(223, 240, 216, 0.47);
}

.well {
  background-color: rgba(250, 245, 255, 0.82);
}

.purple {
  background-color: rgba(221, 206, 242, 0.95);
}
